body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    background: linear-gradient(to bottom right, #4DB6AC, #E0F2F1) fixed; 
    color: #3E2723;
    box-sizing: border-box;
}
@media (light-level: normal) {
    p {
      background: url("texture.jpg");
      color: #333;
    }
  }
  
  @media (light-level: dim) {
    p {
      background: #222;
      color: #ccc;
    }
  }
  
  @media (light-level: washed) {
    p {
      background: white;
      color: black;
      /*font-size: 2em;*/
    }
  }

  /*-------Topography---------*/
a {
    color: #303F9F;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #9E9E9E;    
}

h1 {
    text-align: center;
    font-size: 2rem;
}


h2 {
    margin-bottom: -15px;
    margin-top: -5px;
    font-size: 1.5rem;
    
}
h1,
h2,
h3,
strong {
    font-weight: 700;
}
h3 {
    font-size: 1rem;
    display: block;
    background-color: #4DB6AC;
    padding: 10px 20px 10px 20px;
    margin: 0;
}


/*-------INPUT--------*/


#submit,
.select,
#email {
    padding: 5px 15px;
    background-color: #FFECB3;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
}


button:hover, 
button:active, 
#submit:hover, 
#submit:active {
    background-color: #FF5722;
    border: 2px solid #3E2723;
}


/*------ Layout-------- */
header {
    background: #0097A7;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}    

#header-img {
    margin: 10px 20px 10px 40px;
}



#nav-bar,
.footer-info {
    padding: 10px;
    display: flex;
    justify-content: center;
}

li {
    display: inline-block;
    margin: 0 15px;
}
img {
    float: left;
    width: 3%;
    height: 3%;
    border: solid 1px #00ACC1;
    border-radius: 30%;
    margin-right: 20px;
}



main {
    position: relative;
    top: 75px;
    width: 70%;
    min-width: 400px;
    margin: 0 auto;
    padding-top: 15px;
}



.feature {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

#features {
    margin-top: 70px;
    margin-bottom: 70px;
}

#video {
    display: block;
    margin: 70px auto;
    width: 60%;
    height: auto;

}

#options {
    display: flex;    
    margin: 0 auto;
}

.option {
    border: 2px solid black;
    margin: 3px;
    width: 30%;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 0;
}



footer {
    background: #B2DFDB;
    width: 70%;
    height: 100px;
    margin: 150px auto 0 auto;
    clear: both;

}